extends layout

block content
    .container(style="padding-top: 60px")
        .row
            .col-lg-2.col-lg-offset-5
        each exec in currentExecs
            .col-xs-12.col-sm-6.col-lg-3
                .thumbnail(style="min-height:600px;height:600px; overflow:hidden")
                    h2.text-center= exec.name
                    img.img-circle.img-responsive(src=exec.picture, alt='...', style="height:200px")
                    .caption
                        h3.text-center= exec.position
                        p= exec.bio
                        if exec.email
                            .text-center
                                a(href="mailto:#{exec.email}")
                                    i.fa.fa-envelope-o.fa-fw &nbsp
                                    span= exec.email
