extends layout

block content
    .container(style="padding-top:60px")
    - for team in joinPage.teams
        .content-section-b
            .container
                .row
                    .col-lg-5.col-sm-6
                        h1= team.name
                        p= team.description
                    .col-lg-5.col-lg-offset-2.col-sm-6
                        h1 Meetings
                        if team.meetingTime
                            p
                                | The #{team.name} team meets on #{team.meetingTime} in 
                                span
                                    // the strong tags below are a stupid hack, im too lazy to deal with it. Someone should figure out a way to do this properly
                                    if team.location
                                        strong= team.location
                                    else
                                        strong ELW B150
                        else
                            p 
                                | The #{team.name} team does not currently have a meeting schedule
                        if team.confluence
                            h1 More Information
                            p
                                | See the #{team.name}'s
                                &nbsp
                                a(href="#{team.confluence}") Confluence Page
