extends layout

block content
    // moved from the css file so that we can compile using jade
    .intro-header(style= "background:  url(../#{layout.intro.background}) no-repeat center center")
        .container
            .row
                .col-lg-12
                    .intro-message
                        img(src="http://drive.google.com/uc?export=view&id=0B7bv1IFIZGRbb21KNEtBdklqaTQ")
                        h3= club.shortDescription
                        hr.intro-divider
                        ul.list-inline.intro-social-buttons
                            each button in layout.intro.buttons 
                                li
                                    a.btn.btn-default.btn-lg(href=button.href)
                                        i(class="fa fa-#{button.fa} fa-fw")
                                        span.network-name= button.title
    a(name='about')
    .content-section-a
        .container
            .row
                .col-lg-5.col-sm-6
                    div!= markdown(about.whatWeDo.text)
                .col-lg-5.col-lg-offset-2.col-sm-6
                    img.img-responsive(src=about.whatWeDo.picture, alt='')
    .content-section-b
        .container
            .row
                .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
                    .clearfix
                    div!= markdown(about.objective.text)
                .col-lg-5.col-sm-pull-6.col-sm-6
                    img.img-responsive(src= about.objective.picture, alt='')
    .content-section-a
        .container
            .row
                .col-lg-5.col-sm-6
                    div!= markdown(about.competitions.text)
                .col-lg-5.col-lg-offset-2.col-sm-6
                    img.img-responsive(src=about.competitions.picture, alt='')
