extends layout

block content
    .container(style="padding-top:60px")
    a(name='about')
    .content-section-a
        .container
            .row
                .col-lg-5.col-sm-6
                    div!= markdown(sponsorUs.donations)
                    p.text-center!= sponsorUs.donationsAddress
                .col-lg-5.col-lg-offset-2.col-sm-6
                    h2.text-center Select here
                    img.img-responsive.img-rounded(src=sponsorUs.uvicDonationsSite, alt='')
    .content-section-b
        .container
            .row
                .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
                    div!= markdown(sponsorUs.levelsText)
                .col-lg-5.col-sm-pull-6.col-sm-6
                    img.img-responsive.img-rounded(src=about.competitions.picture, alt='')
    .container
        each level in sponsors.levels
            .col-xs-12.col-sm-6.col-lg-6
                .jumbotron(style="min-height:600px;height:600px; overflow:hidden")
                    h1.text-center= level
                    // yuck, lets make the structure nicer
                    p= sponsorUs.levels[level].cash
                    ul
                        each reward in sponsorUs.levels[level].rewards
                            li= reward
