extends layout

block content
    .container(style="padding-top:60px")
    .content-section-b
        .container
            .row
                .col-lg-5.col-sm-6
                    div!= markdown(sponsorUs.levelsText)
                .col-lg-5.col-lg-offset-2.col-sm-6
                    img.img-responsive.img-rounded(src=about.competitions.picture, alt='')
    a(name='levels')
    .container
        h1.text-center Sponsor Levels
        each level in sponsors.levels
            .col-xs-12.col-sm-6.col-lg-6
                .jumbotron(style="min-height:300px;height:300px; overflow:hidden")
                    h2.text-center= level
                    // yuck, lets make the structure nicer
                    p.text-right= sponsorUs.levels[level].cash
                    ul
                        each reward in sponsorUs.levels[level].rewards
                            li= reward
    a(name='donate')
    .content-section-a
        .container
            .row
                .col-lg-5.col-sm-6
                    div!= markdown(sponsorUs.donateOnline)
                    img.img-responsive.img-rounded(src=sponsorUs.uvicDonationsSite, alt='')
                .col-lg-5.col-lg-offset-2.col-sm-6
                    h1 Donate via Cheque
                    p= sponsorUs.donateCheque
                    p.text-center!= sponsorUs.donationsAddress
